@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic');

@media screen and (min-width: 1024px) and (max-width: 1240px) {
    .impact_box {
        width: 1024px;
    }

    .steck_ingredients_box,
    .steck_ingredients_image,
    .comparison_box {
        width: 1024px;
    }

    .steck_ingredients_image .hint p::after {
        content: url(../images/steck/left_line.png);
        position: absolute;
        margin-left: 10px;
    }

    .comparison_vs_img div {
        margin-right: 30px;
        margin-left: 30px;
    }

    .comparison_vs_img div img {
        -webkit-background-size: cover;
        background-size: cover;
    }

    .comparison_description div {
        margin-left: 0;
    }

    .customer_reviews_title {
        width: 99%;
    }

    .customer_reviews_box {
        display: block;
        max-width: 1024px;
    }

    .contact_title {
        display: block;
    }

    .contact_title div {
        text-align: center;
        display: block !important;
        width: 200px;
        margin: 0 auto;
        line-height: 70px;
    }

    .contact_title a {
        display: inline-block;
        width: 13%;
        margin-left: 30px;
    }

    .contact_info {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .contact_info .payment {
        margin-bottom: 20px;
    }

    .contact_info div {
        width: 35% !important;
        margin-right: 0 !important;
        flex-direction: row;
        align-items: flex-start;
    }

    .contact_info .payment div {
        margin-left: 0;
    }

    .contact_info .folder div {
        margin-left: 0;
    }

    .contact_info .contact_us div {
        margin-left: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .product_box {
        flex-direction: column;
        align-items: center;
    }

    .product_image {
        margin-left: 0;
    }

    .impact_box {
        width: 765px;
    }

    .impact_image {
        width: 750px;
    }

    .steck_ingredients_box,
    .steck_ingredients_image {
        width: 765px;
    }

    .steck_ingredients_image .hint p::after {
        visibility: hidden;
        display: none;
    }

    .comparison_box {
        width: 750px;
    }

    .comparison_vs_img div {
        width: 190px !important;
        margin-right: 0;
        margin-left: 0;
    }

    .comparison_vs_img div img {
        width: 100%;
        -webkit-background-size: contain;
        background-size: contain;
        margin-left: 0;
    }

    #vs {
        margin-top: 70px;
        margin-left: 0 !important;
        margin-right: 0;
        width: 30%;
    }

    #vs img {
        margin-left: 0 !important;
    }

    .comparison_description div {
        width: 330px;
        margin-left: 0;
    }

    .customer_reviews_title {
        width: 99%;
    }

    .review_case .review_data {
        margin-right: 10px;
    }

    .contact_title {
        display: block;
    }

    .contact_title div {
        display: block;
        margin: 0 auto;
        line-height: 60px;
        text-align: center;
    }

    .contact_title a {
        display: inline-block;
        width: 20%;
        margin-left: 30px;
    }

    .contact_info {
        margin-left: 90px;
        width: 85%;
    }

    .contact_info div {
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 360px) and (max-width: 765px) {
    .header_grey {
        height: 66px;
    }

    .header_grey_box {
        flex-wrap: wrap;
    }

    .header_grey_box p {
        padding: 0 0 0 30px;
    }

    .header_menu{
        display: none;
        visibility: hidden;
    }
    .header_menu_mobile{
        padding-top: 10px;
        background-color: rgb(251, 251, 251);
        display: block;
        visibility: visible;
        width: 100%;
    }
    .header_menu_mobile_box{
        min-width: 359px;
        max-width: 800px;
        text-align: center;
        border: 1px solid #ccd4d6;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        cursor: pointer;
        position: relative;
    }
    .mobile_title{
        margin: 20px 0;
    }
    .mobile_drop_menu {
        display: none;
        visibility: hidden;
        top: 50px;
        position: absolute;
        width: 100%;
        background-color: rgb(251, 251, 251);
        border-radius: 0 0 40% 40%;
        border: 2px solid #ccd4d6;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        transition: 0.3s;
    }
    .mobile_drop_menu a {
        text-decoration: none;
        display: block;
        margin: 10px auto 15px;
        width: 40%;
        font-family: "Open Sans", sans-serif;
        color: #92999a;
        font-size: 13px;
        font-weight: 600;
        border: 1px double #ccd4d6;
        border-top: 0;
        border-right: 0;
        border-left: 0;

    }


    .product_box {
        flex-direction: column;
        align-items: center;
    }

    .product_image {
        display: inline-block;
        width: 250px;
        margin-left: 0;
    }

    .product_buy_title {
        text-align: center;
    }

    .product_buy {
        width: 359px;
        margin-left: 0;
    }

    .ingredients_component {
        flex-wrap: wrap;
    }

    #description_1 li {
        margin-bottom: 10px;
    }

    .product_description_text .product_ingredients div {
        font-weight: 400;
        font-size: 13px;
    }

    .product_description_text .intake img {
        float: left;
        height: 70px;
    }

    .ingredients_component div {
        width: 30%;
    }

    #price_figure {
        font-size: 30px;
    }

    .price p {
        font-size: 9px;
    }

    form {
        flex-wrap: wrap;
    }

    .quantity {
        width: 100px;
    }

    button {
        width: 150px;
        height: 40px;
        line-height: 40px;
        font-size: 12px;
    }

    .impact_box, .impact_title, .impact_image,
    .steck_ingredients_box, .steck_ingredients_title,
    .steck_ingredients_image {
        width: 360px;
    }

    .steck_ingredients_image {
        justify-content: center;
    }

    .steck_ingredients_image .hint {
        visibility: hidden;
        display: none;
    }

    .shadow_case {
        margin: -40px auto 0;
        z-index: 0;
        display: block;
        width: 360px;
        height: 210px;
        -webkit-clip-path: ellipse(48% 70% at 50% 0%);
        clip-path: ellipse(48% 70% at 50% 0%);
        background-color: #f6fbfb;
    }

    .comparison_box, .comparison_title {
        width: 360px;
    }

    .comparison_vs_img {
        display: none;
        visibility: hidden;
    }

    .comparison_description {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .comparison_description div {
        width: 330px;
        margin-left: 0;
    }
    .parallax{
        height: 200px;
        margin-top: 100px;
    }
    .parallax_box img {
        top: 180px;
    }
    .parallax_box p{
        top: -920px;
    }

    .customer_reviews_title {
        width: 99%;
    }

    .review_case .review_data {
        margin-right: 20px;
    }

    .review_case .review_text {
        width: 75%;
    }

    .contact_title {
        display: block;
    }

    .contact_title div {
        text-align: center;
        margin: 0 auto;
        display: block;
    }

    .contact_title a {
        display: inline-block;
        font-size: 14px;
        line-height: 60px;
        margin-left: 10px;
    }

    .contact_info .payment {
        display: block;
        width: 230px;
        margin: 0 auto 15px;
    }

    .contact_info .contact_us {
        display: block;
        margin: 0 auto 15px;
    }

    .contact_info .folder {
        display: block;
        margin: 0 auto 15px;
    }

    .footer {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .footer img {
        margin-top: -15px;
    }
}