@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic');
/*SCROLL*/
/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(68, 69, 73, 0.79);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #37383c;
}

/**/
body, ul, p {
    padding: 0;
    margin: 0;
}

/* HEADER ***********************************************************************/
/*gray block*/
.header {
    display: block;
    width: 100%;
    height: 100%;
}

.header_grey {
    display: block;
    width: 100%;
    height: 33px;
    background-color: #37383c;
}

.header_grey_box {
    margin: 0 auto;
    max-width: 1145px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header_grey_box p {
    display: inline-block;
    position: relative;
    color: #92999a;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 33px;
    padding: 0 10px 0 40px;
}

.header_grey_box #email::before {
    content: url("../images/header/email.png");
    position: absolute;
    margin-top: 6px;
    margin-left: -25px;
}

.header_grey_box #bas::before {
    content: url("../images/header/bas.png");
    position: absolute;
    margin-top: 6px;
    margin-left: -25px;
}

.header_grey_box #box::before {
    content: url("../images/header/box.png");
    position: absolute;
    margin-top: 6px;
    margin-left: -25px;
}

.header_grey_box #made::before {
    content: url("../images/header/okey.png");
    position: absolute;
    margin-top: 6px;
    margin-left: -25px;
}

/*menu*/
.header_menu {
    width: 100%;
    height: 130px;
    border: 1px solid #ccd4d6;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

.header_menu_box {
    margin: 0 auto;
    max-width: 1145px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header_menu_box div {
    position: relative;
    color: #969ea1;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 0 10px;
    display: flex;
    align-items: center;
    transition: 0.2s;
}

.header_menu_box a:hover{
    /*font-size: 13px;*/
    margin-top: -2px;
    transition: 0.2s;
}
.header_menu_box a {
    list-style-type: none;
    text-decoration: none;
    color: #969ea1;
    margin-right: 20px;
}

/* Header menu mobile*/
.header_menu_mobile {
    display: none;
    visibility: hidden;
    position: relative;
}

/* PRODUCT BOX ******************************************************************/
.product {
    display: block;
    width: 100%;
}

.product_box {
    margin: 100px auto 0;
    max-width: 1145px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product_image {
    display: inline-block;
    width: 390px;
    margin-left: 100px;
}

.product_image img {
    width: 100%;
    -webkit-background-size: contain;
    background-size: contain;
}

.product_buy {
    display: inline-block;
    width: 545px;
    height: 100%;
    margin-left: 20px;
}

.product_buy_title {
    display: block;
    width: 100%;
    height: 150px;
    font-family: 'Open Sans', sans-serif;
    color: #818b8f;
}

.product_buy_title h1 {
    margin: 0;
    font-size: 50px;
    font-weight: lighter;
}

.product_buy_title p {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 20px 0 0 0;
}

.product_assessment {
    margin: 10px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 275px;
    height: 20px;
}

.product_assessment .stars {
    width: 120px;
    display: inline-block;
    height: 100%;
}

.product_assessment .stars div {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../images/product/stars_left.png);
}

.product_assessment .stars .starts_active {
    background-image: url(../images/product/stars.png);
}

.product_assessment .product_comment span {
    margin-right: 5px;
}

.product_assessment .product_comment a {
    color: #acb8be;
    margin: 0;
    font-size: 13px;
    font-weight: 500;
    text-transform: capitalize;
    position: relative;
    text-decoration: underline;
}

.product_assessment .product_comment a::before {
    content: url("../images/product/comment.png");
    position: absolute;
    margin-left: -30px;
    margin-top: 3px;
}

.product_description {
    margin-top: 30px;
    width: 99%;
    height: 30px;
    border: 1px solid #ccd4d6;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-family: 'Open Sans', sans-serif;
    color: #b2b7b9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product_description p {
    top: 1px;
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-weight: lighter;
    border: 1px solid #ccd4d6;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    transition: 0.2s;
    cursor: pointer;
}

.product_description .active {
    top: 2px;
    color: #4d9ad3;
    border: 2px solid #4d9ad3;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    transition: 0.2s;
}

.product_description_text {
    display: block;
    width: 99%;
    max-height: 100%;
    border: 1px solid #ccd4d6;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

.product_description_text div {
    margin: 20px 0 30px;
    display: none;
    visibility: hidden;
    font-family: 'Open Sans', sans-serif;
    color: #8d9699;
    font-size: 15px;
    font-weight: lighter;
    padding-left: 20px;
}

.product_description_text .active {
    display: block;
    visibility: visible;
}

.product_description_text .product_ingredients {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 0 0 -30px;
}

.product_description_text .product_ingredients div {
    margin: 0;
    padding: 0;
    visibility: visible;
    display: inline-block;
    width: 40%;
    line-height: 20px;
    color: #8d9699;
    font-weight: 600;
}

.product_description_text .intake {
    visibility: visible;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px 0 0;
}

.intake p {
    margin-left: 10px;
}

.ingredients_component {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 99%;
    margin: 20px 0 0;
    padding-bottom: 20px;
    border: 1px solid #e3e7e9;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

.ingredients_component div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5px;
}

.ingredients_component .wall {
    height: 100%;
    width: 1px;
    background-color: #818b8f;
}

.ingredients_component p {
    text-align: center;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    color: #8d9699;
    width: 75px;
}

/*Check info*/
.check_info {
    margin-top: 45px;
    height: 30px;
    width: 99%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.check_info p {
    font-family: "Open Sans", sans-serif;
    color: #b3b8ba;
    font-weight: lighter;
    font-size: 11px;
    position: relative;
    padding-left: 35px;
}

.check_info #check_in_stock::before {
    content: url("../images/product/in_stock.png");
    position: absolute;
    margin-top: -5px;
    margin-left: -35px;
}

.check_info #check_box::before {
    content: url("../images/product/box.png");
    position: absolute;
    margin-top: -5px;
    margin-left: -35px;
}

.check_info #check_email::before {
    content: url("../images/product/email.png");
    position: absolute;
    margin-top: -5px;
    margin-left: -35px;
}

/* buying form*/
.buy_form {
    width: 99%;
    height: 115px;
    display: block;
    background-color: #f6fbfb;
}

form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.price {
    width: 150px;
}

.price p {
    color: #b1babd;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    font-weight: 200;
}

#price_figure {
    color: #4d9ad3;
    font-size: 40px;
}

#price_figure::before {
    content: "$";
}

.quantity {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    color: #717b7f;
}

#minus {
    padding-right: 10px;
    font-weight: 800;
    cursor: pointer;
}

#plus {
    padding-left: 10px;
    font-weight: 800;
    cursor: pointer;
}

button {
    text-decoration: none;
    width: 240px;
    height: 50px;
    background-color: #4d9ad3;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    cursor: pointer;
    border: 0;
}

/* Impact **********************************************************/
.impact {
    margin-top: 150px;
    display: block;
    width: 100%;
}

.impact_box {
    margin: 0 auto;
    width: 1145px;
    height: 100%;
}

.impact_title {
    margin: 0 auto;
    width: 500px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: #8d9699;
}

.impact_title h2 {
    padding: 0;
    margin: 0;
    font-size: 40px;
    font-weight: lighter;
}

.impact_title p {
    margin-top: 30px;
    font-size: 17px;
    font-weight: lighter;
}

.impact_image {
    margin: 60px auto 0;
    display: block;
    width: 850px;
    height: 100%;
}

.impact_image img {
    width: 100%;
    -webkit-background-size: cover;
    background-size: cover;
}

.box_shadow {
    margin-top: -300px;
    width: 100%;
    display: block;
    height: 300px;
    background-color: #f6fbfb;
}

/* STECK INGREDIENT *************************************************/
.steck_ingredients {
    display: block;
    width: 100%;
    height: 1010px;
    position: relative;
}

.steck_background {
    margin-top: -150px;
    width: 100%;
    background-color: #f6fbfb;
    height: 950px;
    position: absolute;
}

.steck_ingredients_box {
    width: 1145px;
    height: 100%;
    margin: 150px auto 0;
    display: block;
}

.steck_ingredients_title {
    position: relative;
    margin: 0 auto;
    width: 550px;
    height: 160px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: #8d9699;
}

.steck_ingredients_title h2 {
    padding: 0;
    margin: 0;
    font-size: 40px;
    font-weight: lighter;
}

.steck_ingredients_title p {
    margin-top: 30px;
    font-size: 17px;
    font-weight: lighter;
}

.steck_ingredients_image {
    margin: 110px auto 0;
    width: 1145px;
    height: 565px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 2;
}

.steck_ingredients_image div {
    width: 250px;
    height: 100%;
    display: block;
}

.steck_ingredients_image .hint {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.steck_ingredients_image .hint p {
    display: block;
    height: 30%;
    margin-top: 110px;
    font-family: "Open Sans", sans-serif;
    color: #667075;
    text-align: left !important;
    width: 170px;
    padding-left: 80px;
}

.steck_ingredients_image .hint p::before {
    content: url("../images/steck/attantion.png");
    position: absolute;
    margin-left: -35px;
}

.steck_ingredients_image .hint p::after {
    content: url("../images/steck/left_line.png");
    position: absolute;
    margin-left: 25px;
}

.steck_ingredients_image .hint #top::after {
    content: url("../images/steck/right_top_line.png");
    margin-left: -330px;
    margin-top: -5px;
    position: absolute;
}

.steck_ingredients_image .hint #bottom::after {
    content: url("../images/steck/right_line.png");
    margin-left: -285px;
    position: absolute;
    margin-top: -10px;
}

.image_with_slider {
    display: inline-block;
    width: 180px !important;
    position: relative;
}

.steck_ingredients_image .image_with_slider div {
    position: absolute;
    width: 100%;
}

#slider {
    cursor: pointer;
    width: 250px;
    height: 45px;
    position: relative;
    margin-top: 317px;
    margin-left: -15px;
    background-image: url(../images/steck/slider.png);
}

#image_slider {
    overflow: hidden;
    height: 340px;
    margin-left: 2px;
}

.shadow_case {
    margin: -40px auto 0;
    z-index: 0;
    display: block;
    width: 530px;
    height: 210px;
    -webkit-clip-path: ellipse(48% 100% at 50% 0%);
    clip-path: ellipse(48% 100% at 50% 0%);
    background-color: #f6fbfb;
}

/*Comparison *********************************************************/
.comparison {
    display: block;
    width: 100%;
}

.comparison_box {
    margin: 150px auto 0;
    width: 1145px;
    height: 100%;
}

.comparison_title {
    position: relative;
    margin: 0 auto;
    width: 550px;
    height: 50px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: #8d9699;
}

.comparison_title h2 {
    padding: 0;
    margin: 0;
    font-size: 40px;
    font-weight: lighter;
}

.comparison_vs_img {
    width: 100%;
    background-image: url("../images/compaction/bacground_compation.png");
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.comparison_vs_img div {
    margin-right: 80px;
    margin-left: 80px;
    -webkit-background-size: contain;
    background-size: contain;
}

#vs {
    margin-top: 130px;
    margin-left: 0;
    margin-right: 0;
}

.comparison_description {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.comparison_description div {
    width: 420px;
    display: block;
    font-family: "Open Sans", sans-serif;
    color: #8d979b;
    margin-left: 50px;
}

.comparison_description h2 {
    font-size: 40px;
    margin: 0 0 10px 0;
    font-weight: lighter;
}

.comparison_description p {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
}

.comparison_description ul {
    margin-top: 30px;
}

.comparison_description ul li {
    font-size: 17px;
    font-weight: lighter;
    list-style-type: none;
    margin-bottom: 15px;
    padding-left: 40px;
}

.comparison_description ul li::before {
    content: url("../images/compaction/tick.png");
    margin-left: -40px;
    position: absolute;
}
.comparison_description #cross li::before {
    content: url("../images/compaction/cross.png");
    margin-left: -40px;
    position: absolute;
}

/* PARALLAX *****************************************************************/
.parallax {
    display: block;
    position: relative;
    width: 100%;
    height: 400px;
}

.parallax_box {
    position: absolute;
    display: block;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.parallax_box img {
    top: 520px;
    position: absolute;
    width: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-color: #37383c;
    background-repeat: no-repeat;
    opacity: 0.7;
}

.parallax_box p {
    top: -860px;
    position: absolute;
    width: 390px;
    height: 50px;
    text-align: center;
    margin-left: -195px;
    left: 50%;
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
    color: white;
    text-transform: uppercase;
}

/*Customer reviews************************************************************/
.customer_reviews {
    display: block;
    width: 100%;
    height: 500px;
}

.customer_reviews_box {
    display: block;
    max-width: 1145px;
    height: 100%;
    margin: 0 auto;
}

.customer_reviews_title {
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Open Sans", sans-serif;
    color: #717b7f;
    padding-bottom: 20px;
    border: 1px solid #ccd4d6;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

.customer_reviews_title p {
    font-size: 18px;
    font-weight: 600;
}

.quantity_title {
    width: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.quantity_title p {
    font-size: 13px;
    font-weight: lighter;
}

.quantity_title #stars::after {
    content: url("../images/product/stars.png");
    position: absolute;
    padding-left: 10px;
    margin-top: -1px;
}

.quantity_title #comment::after {
    content: url("../images/product/comment.png");
    position: absolute;
    padding-left: 10px;
    margin-top: -1px;
}

.review {
    display: block;
    width: 100%;
    height: 430px;
    overflow: scroll;
}

.review_case {
    margin: 40px auto 0;
    display: block;
    width: 99%;
    color: #8d9699;
    font-family: "Open Sans", sans-serif;
}

.review_case .review_data {
    position: relative;
    float: left;
    display: inline-block;
    width: 60px;
    margin-right: 40px;
}

.review_case .mark {
    font-size: 13px;
    font-weight: lighter;
    margin-bottom: 10px;
}

.review_case p {
    font-size: 13px;
}

.review_case .mark::after {
    content: url("../images/product/stars.png");
    position: absolute;
    padding-left: 10px;
    margin-top: -3px;
}

.review_case .review_text {
    display: inline-block;
    width: 90%;
}

.loading {
    display: block;
    width: 150px;
    height: 20px;
    margin: 0 auto;
    text-align: center;
    color: #c2ccd0;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: lighter;
    position: relative;
}
#loading{
    visibility: hidden;
}
#loading_img {
    width: 15px;
    height: 15px;
    position: absolute;
    background-image: url(../images/product/loading.png);
    background-repeat: no-repeat;
    margin-left: -23px;
    margin-top: 1px;
}

/*CONTACT********************************************************/
.contact {
    display: block;
    width: 100%;
    background-color: #f6fbfb;
}

.contact_box {
    margin: 0 auto;
    display: block;
    max-width: 1145px;
    height: 100%;
}

.contact_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #ccd4d6;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    font-family: "Open Sans", sans-serif;
}

.contact_title div {
    display: inline-block;
    width: 200px;
    line-height: 100px;
    color: #717b7f;
    font-weight: 500;
    font-size: 20px;
}

.contact_title a {
    list-style-type: none;
    text-decoration: none;
    line-height: 100px;
    color: #8d9699;
    font-size: 17px;
    font-weight: 400;
    transition: 0.2s;
}
.contact_title a:hover{
    transition: 0.2s;
    margin-top: -2px;
}
.contact_info{
    margin: 60px 0;
    display: block;
    width: 100%;
}
.contact_info .payment{
    display: inline-block;
    width: 230px;
    margin-right: 75px;
}
.contact_info .payment div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact_info .payment p{
    font-size: 20px;
    font-weight: 500;
    color: #8d9699;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 30px;
}
.contact_info .payment div a{
    margin: 0 5px 0 0;
}

.contact_info .contact_us{
    width: 325px;
    display: inline-block;
    margin-right: 20px;
}
.contact_info .contact_us p{
    font-size: 20px;
    font-weight: 500;
    color: #8d9699;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 30px;
}
.contact_info .contact_us div ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact_info .contact_us div ul li{
    padding: 0;
    margin: 0;
    list-style-type: none;
    color: #8d9699;
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    font-size: 17px;
    width: 45%;
}
.contact_info .folder{
    width: 100px;
    display: inline-block;
}
.contact_info .folder img{
    margin-right: 20px;
}
.contact_info .folder p{
font-size: 20px;
font-weight: 500;
color: #8d9699;
font-family: "Open Sans", sans-serif;
margin-bottom: 30px;
}
/*FOOTER*/
footer{
    display: block;
    width: 100%;
    background-color: #37383c;
    color: white;
    font-family: "Open Sans", sans-serif;
}
.footer{
    max-width: 1145px;
    margin: 0 auto;
    line-height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
}
.footer p{
    display: inline-block;
    margin-right: 30px;
}
.footer img{
    margin-top: 25px;
    margin-left: -90px;
    position: absolute;
    left: 50%;
}
.footer a{
    color: white;
}